<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="void_automation_task">
  <test thread-count="5" name="void_automation_task_testcases">
    <classes>
      <class name="tests.TodayDealsTest"/>
      <class name="tests.CarAccessoriesTest"/>
    </classes>
  </test> <!-- void_automation_task_testcases -->
</suite> <!-- void_automation_task -->
